.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
} 
